
body{
    margin: 0;
    padding: 0;
}

.titlebar{
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    line-height: 30px;
    -webkit-app-region: drag;
}

.container{
    display: flex;
    height: 100%;
}

.sidebar{
    z-index: 10000;
    width: 120px;
    background-color: #333;
    color: white;
    padding: 15px;
    box-sizing: border-box;
}

.sidebar ul{
    list-style-type: none;
    padding: 0;
}

.sidebar li{
    margin: 15px 0;
}

.sidebar a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.sidebar a:hover{
    background-color: #575757;
    padding-left: 10px;
    transition: 0.3s;
}



