
body{
    margin: 0;
    padding: 0;
}

.title-bar{
    width: 100%;
    height: 40px;
    color: white;
    text-align: right;
    line-height: 30px;
    -webkit-app-region: drag;
    position: fixed;
    top: 0;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.title-bar button{
    -webkit-app-region: no-drag;
    background: #444;
    border: none;
    color: white;
    font-size: 14px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s ease, transform 0.2s ease;
}

.title-bar button:hover{
    transform: scale(1.2);
    transition: background 0.3s ease, transform 0.2s ease;
}

#minimize-btn:hover{
    background: linear-gradient(145deg, #3a8ec0, #285273);
}

#maximize-btn:hover{
    background: linear-gradient(145deg, #4caf50, #347a35);
}

#close-btn:hover{
    background: linear-gradient(145deg, #e74c3c, #b03e2e);
}

.title-bar button:active{
    transform: scale(1.05);
    background-color: #333;
    filter: brightness(1.2);
}


.container{
    display: flex;
    height: 100%;
}

.sidebar{
    width: 120px;
    background-color: #333;
    color: white;
    padding: 15px;
    box-sizing: border-box;
}

.sidebar ul{
    list-style-type: none;
    padding: 0;
}

.sidebar li{
    margin: 15px 0;
}

.sidebar a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.sidebar a:hover{
    background-color: #575757;
    padding-left: 10px;
    transition: 0.3s;
}



